.typeAnimation {
  font-size: 1.65rem;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .typeAnimation {
    font-size: 2rem;
  }
}

.typeAnimation span {
  font-weight: 600;
  color: #2563eb;
  margin-left: 0.75rem;
  position: relative;
}

.cursor {
  display: inline-block;
  width: 3px;
  height: 1.4em;
  background-color: #2563eb;
  margin-left: 2px;
  animation: blink 0.7s infinite;
  align-self: center;
  position: relative;
  top: 1px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
